.fixedContainer {
    max-width: 960px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    margin-left: 160px;
    margin-top: 15px;
}

nav {
    text-align: center;
    display: block;
    background-color: #555;
    color: #999;
    height: 100px;
    margin-bottom: 20px;
}

ul, li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    padding-left: 60px;
    margin-top: 20px;
}

main {
    text-align: center;
}

img {
    margin-bottom: 20px;
}

#subBanner {
    margin-left: 25px;
    margin-right: 25px;
}

#featuredSectionBanner {
    float: left;
    padding-right:20px;
    height: 480px; 
}

h2 {
    font-size: 20px;
    font-style: none;
    text-align: left;
}

#featuredText {
    text-align: left;
    font-style: italic;
    overflow: scroll;
    height: 430px;
    margin-bottom: 5px;
}

button {
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    float: left;
    border: 0px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

footer {
    margin-top: 50px;
    background-color: #555;
    height: 100px;
}